body {
  background-color: #000; /* Fondo negro */
  color: #ccc; /* Texto gris */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, p {
  color: #ccc; /* Texto gris */
  text-align: left;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  flex-direction: row;
  border-right: none; /* Eliminar la línea vertical existente */
}

.sidebar {
  width: 150px; /* Hacer el panel lateral más angosto */
  background-color: #000000;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-right: 2px solid #9fab81; /* Línea vertical verde suave */
  height: 100vh; /* Ocupa el total de altura de la web */
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 25px;
}

.sidebar ul li a {
  color: #ccc; /* Texto gris */
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: blink;
}

.main-container {
  flex: 1;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-details {
  margin-left: 10px; /* Ajustar el margen para que el texto no esté pegado a la foto */
}

.user-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header-separator {
  border: 0;
  height: 2px;
  background: #9fab81; /* Línea verde suave */
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  background-color: #676464;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

button:hover {
  background-color: #9fab81;
}

#logout-btn {
  background-color: transparent;
  color: #333;
  border: 2px solid #ff0000b3; /* Borde rojo */
  border-radius: 12px;
  cursor: pointer;
}

#logout-btn:hover {
  box-shadow: 0 0 10px #ff0000; /* Sombra roja al borde */
}
